thietbi-.json
{
  "updatedAt": "2026-03-22T01:39:44.479Z",
  "createdAt": "2026-03-17T11:04:43.133Z",
  "id": "1XxCf71IpaD4Zjyu",
  "name": "Thietbi",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "087708f0-214f-4571-be0b-4ede427f77f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tổng quan"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "672997f5-2c7d-4ecd-9647-7a9a6d093915",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "loại thiết bị"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c6ea788-ef48-40c3-818c-d1abdfbba055",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chi tiết 1 tbi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4047c81d-1129-4103-872d-9d79008340f5",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lịch sử"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1728,
        1808
      ],
      "id": "64a87bbb-a6bb-4b82-9a1a-8d020ffdc2f2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ChatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2912,
        1840
      ],
      "id": "4ec9678b-2508-46d0-a450-e9e0be0a0564",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là AI phân loại yêu cầu về thiết bị.\n\nInput:\n{{ $json.ChatInput }}\n\nXác định câu hỏi thuộc 1 trong 4 case sau:\n\n1 = Tổng quan / thống kê thiết bị\n2 = Danh sách / loại / nhóm thiết bị\n3 = Chi tiết thiết bị cụ thể\n4 = Lịch sử thiết bị\n\nQuy tắc:\n- Case 4: nếu có \"lịch sử\", \"vận hành\", \"hoạt động\", \"log run\", \"sửa chữa\", \"bảo dưỡng\", \"maintenance\", \"repair\"\n- Case 3: nếu hỏi chi tiết hoặc thông tin của một thiết bị cụ thể theo tên, mã, model, serial\n- Case 2: nếu có \"danh sách\", \"danh mục\", \"loại\", \"nhóm thiết bị\"\n- Case 1: các trường hợp còn lại, hoặc hỏi chung chung như \"thiết bị\", \"xem thiết bị\", \"tổng quan thiết bị\", \"thống kê thiết bị\", \"thiết bị đơn vị MDV\", \"thiết bị đơn vị LDV\"\n\nNếu câu hỏi chung chung, không nêu thiết bị cụ thể, luôn chọn case = 1.\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown.\n\nOutput:\n{\n  \"case\": 1,\n  \"query\": \"{{ $json.ChatInput }}\"\n}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2352,
        1840
      ],
      "id": "df7803cc-7bd1-44ef-8330-496282459f8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"case\": 2,\n    \"query\": \"{{ $json.ChatInput }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2208,
        2048
      ],
      "id": "4550c398-5740-48b9-958a-04f7a1b5d3a5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là AI xác định phạm vi đơn vị từ câu hỏi người dùng.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nPhân loại câu hỏi vào 1 trong 2 case:\n\n1 = Toàn đơn vị\n2 = Một đơn vị cụ thể\n\nQuy tắc:\n- Nếu câu hỏi có nhắc rõ tên đơn vị như \"MDV\", \"LDV\", \"đơn vị MDV\", \"đơn vị LDV\" thì chọn case = 2\n- Nếu câu hỏi hỏi chung chung, không nêu rõ MDV hoặc LDV thì chọn case = 1\n- Các câu như \"thiết bị\", \"công việc\", \"tổng quan\", \"thống kê\", \"danh sách\", \"toàn đơn vị\", \"toàn hệ thống\" mà không có tên đơn vị cụ thể thì chọn case = 1\n- So khớp không phân biệt hoa thường\n- Nếu không chắc chắn thì mặc định chọn case = 1\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown, không thêm chữ ngoài JSON.\n\nĐịnh dạng output:\n{\n  \"query\": \"{{ $json.output.query }}\",\n  \"case\": \"1\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1056,
        272
      ],
      "id": "08f75997-3d09-4a89-b946-f3f450678e7b",
      "name": "AI Agent12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b45c6066-6d8a-423c-913d-f22f5c147891"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "toàn đơn vị"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e93793e6-08e3-41eb-a2f7-4e806e03baa1",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 đơn vị"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -576,
        272
      ],
      "id": "df37b31c-611b-4386-8053-c0cb48516e0b",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"query\": \"{{ $json.output.query }}\",\n  \"case\": \"1\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -896,
        432
      ],
      "id": "4b96e8bc-fbe2-4f79-aa04-4b19d4be04eb",
      "name": "Structured Output Parser12"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.OBJ_ORG AS ma_donvi,\n    r.ORG_DESC AS ten_donvi,\n    COUNT(o.OBJ_CODE) AS tong_thiet_bi\nFROM R5OBJECTS AS o\nINNER JOIN R5ORGANIZATION AS r \n    ON o.OBJ_ORG = r.ORG_CODE\nGROUP BY o.OBJ_ORG, r.ORG_DESC\nORDER BY tong_thiet_bi DESC;\n\n\n\nWITH ThongKe AS (\n    SELECT \n        o.OBJ_ORG AS ma_donvi,\n        r.ORG_DESC AS ten_donvi,\n        COUNT(o.OBJ_CODE) AS tong_thiet_bi\n    FROM R5OBJECTS AS o\n    INNER JOIN R5ORGANIZATION AS r \n        ON o.OBJ_ORG = r.ORG_CODE\n    GROUP BY o.OBJ_ORG, r.ORG_DESC\n)\nSELECT \n    COUNT(*) AS tong_don_vi,\n    SUM(tong_thiet_bi) AS tong_thiet_bi_toan_he_thong\nFROM ThongKe;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d43b20e4-68d7-46a4-847a-9050d11ea5fa",
      "name": "Microsoft SQL10",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\nlet tongHeThong = 0;\n\nfor (const item of items) {\n  const d = item.json;\n\n  if (d.ma_donvi !== undefined && d.ma_donvi !== null) {\n\n    let tenDonVi = d.ten_donvi;\n    let isDonViChung = false;\n\n    if (tenDonVi === \"Default organization\") {\n      tenDonVi = \"Đơn vị chung\";\n      isDonViChung = true;\n    }\n\n    answer += `- **Đơn vị**: ${tenDonVi}\\n`;\n    answer += `+ Số thiết bị là: ${d.tong_thiet_bi}\\n\\n`;\n\n    // chỉ tạo suggestion nếu KHÔNG phải đơn vị chung\n    if (!isDonViChung) {\n      if (d.ma_donvi) {\n        suggestions.push(`Thống kê tổng quan thiết bị của đơn vị ${d.ma_donvi}`);\n      }\n    }\n  }\n\n  if (d.tong_thiet_bi_toan_he_thong !== undefined) {\n    tongHeThong = d.tong_thiet_bi_toan_he_thong;\n  }\n}\n\nanswer += `**Tổng số thiết bị của toàn hệ thống là:** ${tongHeThong}`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "18078545-4e27-46af-9805-f906a0a00474",
      "name": "Code6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là AI chuyên tách mã đơn vị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã đơn vị nào.\n\nChỉ có 2 mã đơn vị hợp lệ:\n- MDV = Chi nhánh Mỏ Tuyển Sin Quyền Lào Cai\n- LDV = Chi nhánh Luyện đồng Lào Cai\n\nQuy tắc:\n- Nếu câu hỏi chứa \"MDV\", \"đơn vị MDV\", hoặc tên \"Chi nhánh Mỏ Tuyển Sin Quyền Lào Cai\" thì trả về \"MDV\"\n- Nếu câu hỏi chứa \"LDV\", \"đơn vị LDV\", hoặc tên \"Chi nhánh Luyện đồng Lào Cai\" thì trả về \"LDV\"\n- So khớp không phân biệt hoa thường\n- Nếu không tìm thấy mã đơn vị thì trả về chuỗi rỗng \"\"\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown, không thêm chữ ngoài JSON.\n\nĐịnh dạng output:\n{\n  \"madonvi\": \"\"\n}",
          "maxIterations": null
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        512
      ],
      "id": "105f48a3-57a3-4f01-88f0-06bcc90093fe",
      "name": "AI Agent14",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"madonvi\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        720
      ],
      "id": "8bda9caa-94cd-466a-b689-751427a52cd8",
      "name": "Structured Output Parser14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.OBJ_ORG AS ma_donvi,\n    s.org_desc as tendonvi,\n    COUNT(*) AS tong_thiet_bi,\n    COUNT(DISTINCT o.OBJ_CLASS) AS so_loai_thiet_bi,\n    COUNT(DISTINCT o.OBJ_MRC) AS so_bo_phan,\n\n    SUM(CASE WHEN o.OBJ_STATUS = 'I' THEN 1 ELSE 0 END) AS so_thiet_bi_hoat_dong,\n    SUM(CASE WHEN o.OBJ_STATUS = 'P' THEN 1 ELSE 0 END) AS so_thiet_bi_cho_go_bo,\n    SUM(CASE WHEN o.OBJ_STATUS = 'D' THEN 1 ELSE 0 END) AS so_thiet_bi_da_go_bo\n\nFROM R5OBJECTS AS o\ninner join R5ORGANIZATION s\non o.OBJ_ORG = s.ORG_CODE\nWHERE o.OBJ_ORG = '{{ $json.ma_don_vi }}'\nGROUP BY o.OBJ_ORG,s.org_desc;\n\n\nSELECT DISTINCT top 10\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS ten_loai_thiet_bi\nFROM R5OBJECTS AS o\nINNER JOIN R5CLASSES AS c \n    ON o.OBJ_CLASS = c.CLS_CODE\nWHERE o.OBJ_ORG =  '{{ $json.ma_don_vi }}'\n  and o.OBJ_CLASS != '*'\nORDER BY c.CLS_DESC;\n\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        592,
        512
      ],
      "id": "545c62ef-c320-419f-8c6e-6e1bf8a0fabf",
      "name": "Microsoft SQL11",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tongQuan = null;\nlet loaiThietBi = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // record tổng quan đơn vị\n  if (d.ma_donvi) {\n    tongQuan = d;\n  }\n\n  // record loại thiết bị\n  if (d.ten_loai_thiet_bi) {\n    loaiThietBi.push(d.ten_loai_thiet_bi);\n  }\n}\n\nif (tongQuan) {\n  answer += `- **Đơn vị:** ${tongQuan.ten_donvi}\\n\\n`;\n  answer += `+ Số loại thiết bị: ${tongQuan.so_loai_thiet_bi}\\n`;\n  answer += `+ Số bộ phận: ${tongQuan.so_bo_phan}\\n`;\n  answer += `+ Số thiết bị hoạt động: ${tongQuan.so_thiet_bi_hoat_dong}\\n`;\n  answer += `+ Số thiết bị chờ gỡ bỏ: ${tongQuan.so_thiet_bi_cho_go_bo}\\n`;\n  answer += `+ Số thiết bị đã gỡ bỏ: ${tongQuan.so_thiet_bi_da_go_bo}\\n\\n`;\n\n  answer += `Tổng số thiết bị của toàn đơn vị là: ${tongQuan.tong_thiet_bi}\\n\\n`;\n}\n\nanswer += `- **Dưới đây là 1 số loại thiết bị:**\\n\\n`;\n\nfor (const ten of loaiThietBi) {\n  answer += `+ ${ten}\\n`;\n\n  if (suggestions.length < 3) {\n    suggestions.push(`Xem danh sách thiết bị thuộc loại ${ten}`);\n  }\n}\n\nanswer += `\\n- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        512
      ],
      "id": "3bc3070a-1d38-4dfd-96a0-beeb068e298c",
      "name": "Code7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ORG_CODE AS ma_don_vi,\n  ORG_DESC AS ten_don_vi\nFROM R5ORGANIZATION\nWHERE \n  (\n    ORG_DESC LIKE N'%' + N'{{ $json.output.madonvi || \"*\" }}' + N'%'\n    OR ORG_CODE = N'{{ $json.output.madonvi || \"*\" }}'\n  )\n  OR N'{{ $json.output.madonvi || \"*\" }}' = N'*'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        320,
        512
      ],
      "id": "d4826044-c016-468a-a712-e9805e9cd644",
      "name": "Microsoft SQL12",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là AI chuyên tách tên loại thiết bị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.output.ChatInput }}\n\nNhiệm vụ:\nXác định tên loại thiết bị được nhắc đến trong câu hỏi và trả về đúng phần tên loại để dùng cho truy vấn tìm kiếm.\n\nQuy tắc:\n- Nếu câu hỏi có cụm \"thuộc loại ...\" thì lấy phần nội dung đứng sau cụm đó\n- Nếu phần sau có bắt đầu bằng \"Thiết bị\" thì bỏ tiền tố \"Thiết bị\", chỉ giữ phần tên chính\n- So khớp không phân biệt hoa thường\n- Giữ nguyên nội dung tiếng Việt có dấu\n- Nếu không tìm thấy loại thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Xem danh sách thiết bị thuộc loại Thiết bị Acid\" -> \"Acid\"\n- \"Xem danh sách thiết bị thuộc loại Thiết bị cấp thoát nước\" -> \"cấp thoát nước\"\n- \"Xem thiết bị loại Thiết bị nhiệt\" -> \"nhiệt\"\n- \"Cho tôi danh sách thiết bị\" -> \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"maloaithietbi\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -992,
        992
      ],
      "id": "460fd581-48b4-4a4d-bfc8-f93618ac92cc",
      "name": "AI Agent13",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"maloaithietbi\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -832,
        1184
      ],
      "id": "da4b53b4-d0e1-45b4-b5f8-611aa02be31b",
      "name": "Structured Output Parser13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DECLARE @OBJ_CLASS NVARCHAR(50) = '{{ $json.ma_loai_thiet_bi }}';\n\n-- Lấy Top 10 thiết bị theo loại\nSELECT TOP 5\n    o.OBJ_CODE AS ma_thiet_bi,\n    o.OBJ_DESC AS ten_thiet_bi,\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS ten_loai_thiet_bi,\n    m.mrc_desc as ten_bo_phan,\n    CASE o.OBJ_STATUS\n        WHEN 'P' THEN N'Chờ gỡ bỏ'\n        WHEN 'I' THEN N'Đang hoạt động'\n        WHEN 'D' THEN N'Đã gỡ bỏ'\n        ELSE N'Không xác định'\n    END AS ten_trang_thai\nFROM R5OBJECTS AS o\nINNER JOIN R5CLASSES AS c ON o.OBJ_CLASS = c.CLS_CODE\ninner join R5MRCS as m on m.MRC_CODE = o.OBJ_MRC\nWHERE o.OBJ_CLASS = @OBJ_CLASS\nORDER BY o.OBJ_CODE;\n\n-- Tổng số thiết bị của loại đó\nSELECT \n    COUNT(*) AS tong_so_thiet_bi,\n    @OBJ_CLASS AS ma_loai_thiet_bi\nFROM R5OBJECTS\nWHERE OBJ_CLASS = @OBJ_CLASS;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        32,
        992
      ],
      "id": "e245f02e-be07-4008-8d7e-fe5867afb6c1",
      "name": "Microsoft SQL13",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tongSoThietBi = 0;\nlet tenLoaiThietBi = \"\";\nlet devices = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // record tổng số\n  if (d.tong_so_thiet_bi !== undefined) {\n    tongSoThietBi = d.tong_so_thiet_bi;\n  }\n\n  // record thiết bị\n  if (d.ma_thiet_bi) {\n    devices.push(d);\n    tenLoaiThietBi = d.ten_loai_thiet_bi;\n  }\n}\n\n// in danh sách thiết bị\nfor (const dev of devices) {\n  answer += `- **Tên thiết bị:** ${dev.ten_thiet_bi}\\n\\n`;\n  answer += `+ Mã thiết bị: ${dev.ma_thiet_bi}\\n`;\n  answer += `+ Bộ phận: ${dev.ten_bo_phan}\\n`;\n  answer += `+ Trạng thái: ${dev.ten_trang_thai}\\n\\n`;\n\n  // tạo suggestion từ mã thiết bị\n  if (suggestions.length < 4) {\n    suggestions.push(`Chi tiết thiết bị ${dev.ma_thiet_bi}`);\n    suggestions.push(`Lịch sử hoạt động của thiết bị ${dev.ma_thiet_bi}`);\n    suggestions.push(`Lịch sử sửa chữa của thiết bị ${dev.ma_thiet_bi}`);\n  }\n}\n\n// tổng số\nanswer += `- **Tổng số thiết bị thuộc loại ${tenLoaiThietBi}:** ${tongSoThietBi}.\\n\\n`;\n\nanswer += `- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions.slice(0,4)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        992
      ],
      "id": "f4eaf0da-83ef-41f3-a027-af910d9729a1",
      "name": "Code8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 1\nCLS_CODE as ma_loai_thiet_bi,\nCLS_DESC as ten_loai_thietBi\n\nfrom R5CLASSES\nWHERE \n  (\n    CLS_DESC LIKE N'%' + N'{{$json.output.maloaithietbi  || \"*\" }}' + N'%'\n    OR CLS_CODE = N'{{$json.output.maloaithietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.maloaithietbi  || \"*\" }}' = N'*'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -496,
        992
      ],
      "id": "8d1f168a-d132-4432-b2fe-0cf31acf6e3e",
      "name": "Microsoft SQL14",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên nội dung thiết bị như trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -992,
        1376
      ],
      "id": "db6d7c5a-0a5c-4b84-85bd-2507fac4d5d0",
      "name": "AI Agent16"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -816,
        1584
      ],
      "id": "c271d28e-0a45-4f7f-aea6-b1984f838b6c",
      "name": "Structured Output Parser16"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT top 1\n    o.OBJ_CODE AS ma_thiet_bi,\n    o.OBJ_DESC AS ten_thiet_bi,\n    OBJ_MRC as phanxuong,\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS tenphanloai,\n    s.CLS_DESC AS bo_phan,\n    o.obj_org as donvi,\n    g.org_desc as tendonvi,\n    o.OBJ_CATEGORY as phannhom,\n    b.CAT_DESC as tenphannhom,\no.OBJ_MANUFACT as nhasanxuat,\no.OBJ_COMMISS as ngaylapdat,\no.obj_created as ngaytao,\no.OBJ_PERSON as canboquanly,\no.OBJ_UDFCHAR07 as phancap,\no.OBJ_PARENT as thietbicha,\n    CASE o.OBJ_STATUS\n        WHEN 'P' THEN N'Chờ gỡ bỏ'\n        WHEN 'I' THEN N'Đang hoạt động'\n        WHEN 'D' THEN N'Đã gỡ bỏ'\n        ELSE N'Không xác định'\n    END AS ten_trang_thai\nFROM R5OBJECTS AS o\nLEFT JOIN R5CLASSES AS c ON o.OBJ_CLASS = c.CLS_CODE\nleft join R5ORGANIZATION as g on o.obj_org = g.ORG_CODE\nLEFT join R5CATEGORIES as b on o.OBJ_CATEGORY = b.CAT_CODE\nLEFT join R5CLASSES as s on s.CLS_CODE = o.OBJ_MRC\nWHERE o.OBJ_CODE = '{{ $json.output.thietbi }}'\nOR o.OBJ_DESC LIKE N'%' + N'{{ $json.output.thietbi }}' + N'%'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -544,
        1376
      ],
      "id": "7793e44a-d39a-4ce8-ad15-438e833db95b",
      "name": "Microsoft SQL15",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst d = items[0].json;\n\nlet answer = \"\";\n\nanswer += `- **Tên thiết bị:** ${d.ten_thiet_bi}\\n\\n`;\nanswer += `+ **Mã thiết bị:** ${d.ma_thiet_bi}\\n`;\nanswer += `+ **Phân xưởng:** ${d.phanxuong || \"Không có\"}\\n`;\nanswer += `+ **Phân loại:** ${d.tenphanloai || \"Không có\"}\\n`;\nanswer += `+ **Đơn vị:** ${d.tendonvi || \"Không có\"}\\n`;\nanswer += `+ **Phân cấp:** ${d.phancap || \"Không có\"}\\n`;\nanswer += `+ **Thiết bị cha:** ${d.thietbicha || \"Không có\"}\\n`;\nanswer += `+ **Trạng thái:** ${d.ten_trang_thai || \"Không có\"}\\n\\n`;\n\nanswer += `- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nconst suggestions = [\n  `Lịch sử hoạt động của thiết bị ${d.ten_thiet_bi}`,\n  `Lịch sử sửa chữa của thiết bị ${d.ten_thiet_bi}`\n];\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1376
      ],
      "id": "f8e7bded-e5c4-4edb-85b2-f9a1558e61c5",
      "name": "Code9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng để phục vụ truy vấn CSDL.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên đúng nội dung mã hoặc tên thiết bị xuất hiện trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        1696
      ],
      "id": "e4f96672-d1d7-4042-a4e4-fd6c94cc9472",
      "name": "AI Agent15"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        1904
      ],
      "id": "e4bf7034-c301-44cb-918f-db19be3bdec1",
      "name": "Structured Output Parser15"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 5\n'{{ $json.ma_thiet_bi }}' as MATHIETBI,\nN'{{ $json.ten_thiet_bi }}' as TENTHIETBI,\nOUD_UOM as DONVITINH,\nOUD_TOTALUSAGE as TONGSUDUNG,\nCONVERT(varchar, OUD_LASTREADDATE, 103) \n + ' ' + CONVERT(varchar, OUD_LASTREADDATE, 108) as NGAYKHAIBAOCUOI\nfrom R5OBJUSAGEDEFS\nwhere OUD_OBJECT = '{{ $json.ma_thiet_bi }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        544,
        1696
      ],
      "id": "86c03f33-fc9c-4f6a-95a0-051adbedee87",
      "name": "Microsoft SQL16",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet maThietBi = \"\";\nlet tenThietBi = \"\";\n\nfor (const item of items) {\n  const d = item.json;\n\n  maThietBi = d.MATHIETBI || maThietBi;\n  tenThietBi = d.TENTHIETBI || tenThietBi;\n\n  answer += `- **Tên thiết bị:** ${d.TENTHIETBI}\\n\\n`;\n  answer += `+ **Mã thiết bị:** ${d.MATHIETBI}\\n`;\n  answer += `+ **Đơn vị tính:** ${d.DONVITINH}\\n`;\n  answer += `+ **Tổng sử dụng:** ${d.TONGSUDUNG}\\n`;\n  answer += `+ **Ngày khai báo cuối:** ${d.NGAYKHAIBAOCUOI}\\n\\n`;\n}\n\nsuggestions.push(`Lịch sử sửa chữa của thiết bị ${tenThietBi}`);\nsuggestions.push(`Chi tiết thiết bị ${tenThietBi}`);\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1696
      ],
      "id": "beeb69c1-0f06-408a-a93c-82d6f7bc5460",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 1 \nobj_code as ma_thiet_bi,\nobj_desc as ten_thiet_bi\nFrom R5OBJECTS \nwhere  \n  (\n    obj_desc LIKE N'%' + N'{{$json.output.thietbi  || \"*\" }}' + N'%'\n    OR obj_code = N'{{$json.output.thietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.thietbi  || \"*\" }}' = N'*'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        224,
        1696
      ],
      "id": "3a13c7dd-b613-46b6-b749-bfc88ff32fd1",
      "name": "Microsoft SQL17",
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là AI phân loại câu hỏi của người dùng liên quan đến lịch sử thiết bị.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định câu hỏi thuộc loại nào:\n\n1 = Lịch sử hoạt động / vận hành thiết bị  \n2 = Lịch sử sửa chữa / bảo dưỡng thiết bị\n\nQuy tắc:\n\n- Nếu câu hỏi chứa các từ như:\n  \"lịch sử hoạt động\", \"hoạt động\", \"vận hành\", \"log run\", \"giờ chạy\", \"thời gian chạy\"\n  => case = 1\n\n- Nếu câu hỏi chứa các từ như:\n  \"lịch sử sửa chữa\", \"sửa chữa\", \"bảo dưỡng\", \"maintenance\", \"repair\", \"bảo trì\"\n  => case = 2\n\n- So khớp không phân biệt hoa thường\n\n- Nếu câu hỏi chứa cả hai loại từ khóa, ưu tiên:\n  sửa chữa / bảo dưỡng => case = 2\n\n- Nếu không rõ ràng thì mặc định:\n  case = 1\n\nChỉ trả về JSON hợp lệ, không giải thích, không markdown.\n\nOutput:\n{\n  \"query\":\"{{ $json.output.query }}\"\n  \"case\": \"1\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1008,
        2016
      ],
      "id": "20f162a1-b9f2-44ac-927d-eb759c09cd98",
      "name": "AI Agent18"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"query\":\"\",\n  \"case\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -832,
        2240
      ],
      "id": "c8e9c36f-1072-4980-ba3d-69fcf8479f56",
      "name": "Structured Output Parser18"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng để phục vụ truy vấn CSDL.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên đúng nội dung mã hoặc tên thiết bị xuất hiện trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        2304
      ],
      "id": "7f85ea78-d582-4c87-9423-d1a070d73447",
      "name": "AI Agent19"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        2512
      ],
      "id": "b4983524-00a5-4ac3-b823-2bb12c773b71",
      "name": "Structured Output Parser19"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 10\n    e.EVT_CODE AS maphieu,\n    ustatus.UCO_DESC AS trang_thai,              -- 🔹 mô tả trạng thái (EVST)\n    e.EVT_OBJECT AS mathietbi,\n    s.OBJ_DESC AS ten_thiet_bi,\n    o.ORG_DESC AS ten_don_vi,\n    e.EVT_DESC AS mota,\n    ujob.UCO_DESC AS kieu_congviec,              -- 🔹 mô tả loại công việc (JBTP)\n    e.EVT_COMPLETED AS ngay_hoan_thanh,\n    e.EVT_TARGET AS ngay_bat_dau,\n    COUNT(*) OVER() AS tong_so_dong\nFROM R5EVENTS AS e\nLEFT JOIN R5UCODES AS ujob \n    ON e.EVT_JOBTYPE = ujob.UCO_CODE \n   AND ujob.UCO_RENTITY = 'JBTP'                -- 🔸 loại công việc\nLEFT JOIN R5UCODES AS ustatus \n    ON e.EVT_STATUS = ustatus.UCO_CODE \n   AND ustatus.UCO_RENTITY = 'EVST'             -- 🔸 trạng thái\nLEFT JOIN R5ORGANIZATION AS o \n    ON o.ORG_CODE = e.EVT_ORG\nLEFT JOIN R5OBJECTS AS s \n    ON s.OBJ_CODE = e.EVT_OBJECT \n   AND s.OBJ_ORG = e.EVT_ORG\nWHERE \n    e.EVT_OBJECT = '{{ $json.ma_thiet_bi }}'\n    AND e.EVT_STATUS IN ('R', 'C')  \n    AND e.EVT_TYPE = 'PPM'\nORDER BY e.EVT_COMPLETED DESC;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        640,
        2304
      ],
      "id": "a2a43ff2-d822-4bf6-a37d-02bc28f7af95",
      "name": "Microsoft SQL18",
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tenThietBi = \"\";\nlet maThietBi = \"\";\n\nfor (const item of items) {\n  const d = item.json;\n\n  tenThietBi = d.ten_thiet_bi || tenThietBi;\n  maThietBi = d.mathietbi || maThietBi;\n\n  const ngayBatDau = d.ngay_bat_dau\n    ? new Date(d.ngay_bat_dau).toLocaleString(\"vi-VN\")\n    : \"\";\n\n  const ngayHoanThanh = d.ngay_hoan_thanh\n    ? new Date(d.ngay_hoan_thanh).toLocaleString(\"vi-VN\")\n    : \"Chưa hoàn thành\";\n\n  answer += `- **Phiếu công việc:** ${d.maphieu}\\n`;\n  answer += `+ **Trạng thái:** ${d.trang_thai}\\n`;\n  answer += `+ **Thiết bị:** ${d.ten_thiet_bi}\\n`;\n  answer += `+ **Đơn vị:** ${d.ten_don_vi}\\n`;\n  answer += `+ **Mô tả:** ${d.mota}\\n`;\n  answer += `+ **Kiểu công việc:** ${d.kieu_congviec}\\n`;\n  answer += `+ **Ngày bắt đầu:** ${ngayBatDau}\\n`;\n  answer += `+ **Ngày hoàn thành:** ${ngayHoanThanh}\\n\\n`;\n}\n\nsuggestions = [\n  `Lịch sử hoạt động của thiết bị ${tenThietBi}`,\n  `Chi tiết thiết bị ${tenThietBi}`\n];\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2304
      ],
      "id": "1f67dc75-8c0c-48da-9dde-5267429b2522",
      "name": "Code11"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 1 \nobj_code as ma_thiet_bi,\nobj_desc as ten_thiet_bi\nFrom R5OBJECTS \nwhere  \n  (\n    obj_desc LIKE N'%' + N'{{$json.output.thietbi  || \"*\" }}' + N'%'\n    OR obj_code = N'{{$json.output.thietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.thietbi  || \"*\" }}' = N'*'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        336,
        2304
      ],
      "id": "759791fd-159c-486a-a9ab-3f668f5fe7f8",
      "name": "Microsoft SQL19",
      "credentials": {
        "microsoftSql": {
          "id": "AT5U1bQMNp2mhBdY",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a97e9664-1475-494b-a58f-a21fc4eec700"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hoạt động"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08b57f5b-fc13-4996-a7ed-fd91a3f3d4c4",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sửa chữa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -656,
        2016
      ],
      "id": "213a65c6-0165-4e8d-b098-19372f5069d1",
      "name": "Switch3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1040,
        496
      ],
      "id": "d1cc5cc3-b8b3-4591-a7cc-c8ef08e0c627",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        768
      ],
      "id": "bf51655f-d1b5-4a4a-87b2-34fc615aa2f1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        1216
      ],
      "id": "8916f121-ddd1-48a3-bf74-ca215c1bea3f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2384,
        2064
      ],
      "id": "76d6e290-b9d8-498b-b7dd-63efdd3aa117",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        1936
      ],
      "id": "a3922a9f-1c83-4bf5-b116-9ec8f7daf273",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1056,
        1712
      ],
      "id": "14a10048-4bf8-4d7b-b704-84b1b4159da9",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1024,
        2272
      ],
      "id": "6a298060-f56f-4c3f-9424-2d465a2ed38a",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        2560
      ],
      "id": "157d934f-ac12-4ec6-9796-f9648a93fd2a",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent12": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser12": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL10": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Microsoft SQL10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent14": {
      "main": [
        [
          {
            "node": "Microsoft SQL12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser14": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent14",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL11": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL12": {
      "main": [
        [
          {
            "node": "Microsoft SQL11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent13": {
      "main": [
        [
          {
            "node": "Microsoft SQL14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser13": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent13",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL13": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL14": {
      "main": [
        [
          {
            "node": "Microsoft SQL13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent16": {
      "main": [
        [
          {
            "node": "Microsoft SQL15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser16": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent16",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL15": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent15": {
      "main": [
        [
          {
            "node": "Microsoft SQL17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser15": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent15",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL16": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL17": {
      "main": [
        [
          {
            "node": "Microsoft SQL16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser18": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent18",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent19": {
      "main": [
        [
          {
            "node": "Microsoft SQL19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser19": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent19",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL18": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL19": {
      "main": [
        [
          {
            "node": "Microsoft SQL18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent18": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "AI Agent15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent12",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent14",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent13",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent15",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent16",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent18",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent19",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ChatInput": "Thiết bị"
        }
      }
    ]
  },
  "versionId": "e66c0b48-771d-47ac-bd4d-b20e455afe7f",
  "activeVersionId": "1a95ec9b-be99-4ac4-89b2-6d83cf43a077",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-17T11:04:43.135Z",
      "createdAt": "2026-03-17T11:04:43.135Z",
      "role": "workflow:owner",
      "workflowId": "1XxCf71IpaD4Zjyu",
      "projectId": "IQyuKtxIScgEzusN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-18T07:54:46.000Z",
    "createdAt": "2026-03-17T14:44:14.429Z",
    "versionId": "1a95ec9b-be99-4ac4-89b2-6d83cf43a077",
    "workflowId": "1XxCf71IpaD4Zjyu",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "087708f0-214f-4571-be0b-4ede427f77f3"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tổng quan"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "672997f5-2c7d-4ecd-9647-7a9a6d093915",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "loại thiết bị"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2c6ea788-ef48-40c3-818c-d1abdfbba055",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "3",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "chi tiết 1 tbi"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4047c81d-1129-4103-872d-9d79008340f5",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "4",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Lịch sử"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1728,
          1808
        ],
        "id": "64a87bbb-a6bb-4b82-9a1a-8d020ffdc2f2",
        "name": "Switch1"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "ChatInput"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2912,
          1840
        ],
        "id": "4ec9678b-2508-46d0-a450-e9e0be0a0564",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Bạn là AI phân loại yêu cầu về thiết bị.\n\nInput:\n{{ $json.ChatInput }}\n\nXác định câu hỏi thuộc 1 trong 4 case sau:\n\n1 = Tổng quan / thống kê thiết bị\n2 = Danh sách / loại / nhóm thiết bị\n3 = Chi tiết thiết bị cụ thể\n4 = Lịch sử thiết bị\n\nQuy tắc:\n- Case 4: nếu có \"lịch sử\", \"vận hành\", \"hoạt động\", \"log run\", \"sửa chữa\", \"bảo dưỡng\", \"maintenance\", \"repair\"\n- Case 3: nếu hỏi chi tiết hoặc thông tin của một thiết bị cụ thể theo tên, mã, model, serial\n- Case 2: nếu có \"danh sách\", \"danh mục\", \"loại\", \"nhóm thiết bị\"\n- Case 1: các trường hợp còn lại, hoặc hỏi chung chung như \"thiết bị\", \"xem thiết bị\", \"tổng quan thiết bị\", \"thống kê thiết bị\", \"thiết bị đơn vị MDV\", \"thiết bị đơn vị LDV\"\n\nNếu câu hỏi chung chung, không nêu thiết bị cụ thể, luôn chọn case = 1.\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown.\n\nOutput:\n{\n  \"case\": 1,\n  \"query\": \"{{ $json.ChatInput }}\"\n}",
          "hasOutputParser": true,
          "options": {
            "maxIterations": 10000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -2352,
          1840
        ],
        "id": "df7803cc-7bd1-44ef-8330-496282459f8d",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"case\": 2,\n    \"query\": \"{{ $json.ChatInput }}\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -2208,
          2048
        ],
        "id": "4550c398-5740-48b9-958a-04f7a1b5d3a5",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Bạn là AI xác định phạm vi đơn vị từ câu hỏi người dùng.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nPhân loại câu hỏi vào 1 trong 2 case:\n\n1 = Toàn đơn vị\n2 = Một đơn vị cụ thể\n\nQuy tắc:\n- Nếu câu hỏi có nhắc rõ tên đơn vị như \"MDV\", \"LDV\", \"đơn vị MDV\", \"đơn vị LDV\" thì chọn case = 2\n- Nếu câu hỏi hỏi chung chung, không nêu rõ MDV hoặc LDV thì chọn case = 1\n- Các câu như \"thiết bị\", \"công việc\", \"tổng quan\", \"thống kê\", \"danh sách\", \"toàn đơn vị\", \"toàn hệ thống\" mà không có tên đơn vị cụ thể thì chọn case = 1\n- So khớp không phân biệt hoa thường\n- Nếu không chắc chắn thì mặc định chọn case = 1\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown, không thêm chữ ngoài JSON.\n\nĐịnh dạng output:\n{\n  \"query\": \"{{ $json.output.query }}\",\n  \"case\": \"1\"\n}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1056,
          272
        ],
        "id": "08f75997-3d09-4a89-b946-f3f450678e7b",
        "name": "AI Agent12"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b45c6066-6d8a-423c-913d-f22f5c147891"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "toàn đơn vị"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e93793e6-08e3-41eb-a2f7-4e806e03baa1",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1 đơn vị"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -576,
          272
        ],
        "id": "df37b31c-611b-4386-8053-c0cb48516e0b",
        "name": "Switch2"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"query\": \"{{ $json.output.query }}\",\n  \"case\": \"1\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -896,
          432
        ],
        "id": "4b96e8bc-fbe2-4f79-aa04-4b19d4be04eb",
        "name": "Structured Output Parser12"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    o.OBJ_ORG AS ma_donvi,\n    r.ORG_DESC AS ten_donvi,\n    COUNT(o.OBJ_CODE) AS tong_thiet_bi\nFROM R5OBJECTS AS o\nINNER JOIN R5ORGANIZATION AS r \n    ON o.OBJ_ORG = r.ORG_CODE\nGROUP BY o.OBJ_ORG, r.ORG_DESC\nORDER BY tong_thiet_bi DESC;\n\n\n\nWITH ThongKe AS (\n    SELECT \n        o.OBJ_ORG AS ma_donvi,\n        r.ORG_DESC AS ten_donvi,\n        COUNT(o.OBJ_CODE) AS tong_thiet_bi\n    FROM R5OBJECTS AS o\n    INNER JOIN R5ORGANIZATION AS r \n        ON o.OBJ_ORG = r.ORG_CODE\n    GROUP BY o.OBJ_ORG, r.ORG_DESC\n)\nSELECT \n    COUNT(*) AS tong_don_vi,\n    SUM(tong_thiet_bi) AS tong_thiet_bi_toan_he_thong\nFROM ThongKe;\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "d43b20e4-68d7-46a4-847a-9050d11ea5fa",
        "name": "Microsoft SQL10",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\nlet tongHeThong = 0;\n\nfor (const item of items) {\n  const d = item.json;\n\n  if (d.ma_donvi !== undefined && d.ma_donvi !== null) {\n\n    let tenDonVi = d.ten_donvi;\n    let isDonViChung = false;\n\n    if (tenDonVi === \"Default organization\") {\n      tenDonVi = \"Đơn vị chung\";\n      isDonViChung = true;\n    }\n\n    answer += `- **Đơn vị**: ${tenDonVi}\\n`;\n    answer += `+ Số thiết bị là: ${d.tong_thiet_bi}\\n\\n`;\n\n    // chỉ tạo suggestion nếu KHÔNG phải đơn vị chung\n    if (!isDonViChung) {\n      if (d.ma_donvi) {\n        suggestions.push(`Thống kê tổng quan thiết bị của đơn vị ${d.ma_donvi}`);\n      }\n\n      if (tenDonVi) {\n        suggestions.push(`Thống kê tổng quan thiết bị của đơn vị ${tenDonVi}`);\n      }\n    }\n  }\n\n  if (d.tong_thiet_bi_toan_he_thong !== undefined) {\n    tongHeThong = d.tong_thiet_bi_toan_he_thong;\n  }\n}\n\nanswer += `**Tổng số thiết bị của toàn hệ thống là:** ${tongHeThong}`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          0
        ],
        "id": "18078545-4e27-46af-9805-f906a0a00474",
        "name": "Code6",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.query }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Bạn là AI chuyên tách mã đơn vị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã đơn vị nào.\n\nChỉ có 2 mã đơn vị hợp lệ:\n- MDV = Chi nhánh Mỏ Tuyển Sin Quyền Lào Cai\n- LDV = Chi nhánh Luyện đồng Lào Cai\n\nQuy tắc:\n- Nếu câu hỏi chứa \"MDV\", \"đơn vị MDV\", hoặc tên \"Chi nhánh Mỏ Tuyển Sin Quyền Lào Cai\" thì trả về \"MDV\"\n- Nếu câu hỏi chứa \"LDV\", \"đơn vị LDV\", hoặc tên \"Chi nhánh Luyện đồng Lào Cai\" thì trả về \"LDV\"\n- So khớp không phân biệt hoa thường\n- Nếu không tìm thấy mã đơn vị thì trả về chuỗi rỗng \"\"\n\nChỉ trả về đúng 1 JSON hợp lệ, không giải thích, không markdown, không thêm chữ ngoài JSON.\n\nĐịnh dạng output:\n{\n  \"madonvi\": \"\"\n}",
            "maxIterations": null
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -32,
          512
        ],
        "id": "105f48a3-57a3-4f01-88f0-06bcc90093fe",
        "name": "AI Agent14",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"madonvi\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          144,
          720
        ],
        "id": "8bda9caa-94cd-466a-b689-751427a52cd8",
        "name": "Structured Output Parser14"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    o.OBJ_ORG AS ma_donvi,\n    s.org_desc as tendonvi,\n    COUNT(*) AS tong_thiet_bi,\n    COUNT(DISTINCT o.OBJ_CLASS) AS so_loai_thiet_bi,\n    COUNT(DISTINCT o.OBJ_MRC) AS so_bo_phan,\n\n    SUM(CASE WHEN o.OBJ_STATUS = 'I' THEN 1 ELSE 0 END) AS so_thiet_bi_hoat_dong,\n    SUM(CASE WHEN o.OBJ_STATUS = 'P' THEN 1 ELSE 0 END) AS so_thiet_bi_cho_go_bo,\n    SUM(CASE WHEN o.OBJ_STATUS = 'D' THEN 1 ELSE 0 END) AS so_thiet_bi_da_go_bo\n\nFROM R5OBJECTS AS o\ninner join R5ORGANIZATION s\non o.OBJ_ORG = s.ORG_CODE\nWHERE o.OBJ_ORG = '{{ $json.ma_don_vi }}'\nGROUP BY o.OBJ_ORG,s.org_desc;\n\n\nSELECT DISTINCT top 10\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS ten_loai_thiet_bi\nFROM R5OBJECTS AS o\nINNER JOIN R5CLASSES AS c \n    ON o.OBJ_CLASS = c.CLS_CODE\nWHERE o.OBJ_ORG =  '{{ $json.ma_don_vi }}'\n  and o.OBJ_CLASS != '*'\nORDER BY c.CLS_DESC;\n\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          592,
          512
        ],
        "id": "545c62ef-c320-419f-8c6e-6e1bf8a0fabf",
        "name": "Microsoft SQL11",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tongQuan = null;\nlet loaiThietBi = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // record tổng quan đơn vị\n  if (d.ma_donvi) {\n    tongQuan = d;\n  }\n\n  // record loại thiết bị\n  if (d.ten_loai_thiet_bi) {\n    loaiThietBi.push(d.ten_loai_thiet_bi);\n  }\n}\n\nif (tongQuan) {\n  answer += `- **Đơn vị:** ${tongQuan.ten_donvi}\\n\\n`;\n  answer += `+ Số loại thiết bị: ${tongQuan.so_loai_thiet_bi}\\n`;\n  answer += `+ Số bộ phận: ${tongQuan.so_bo_phan}\\n`;\n  answer += `+ Số thiết bị hoạt động: ${tongQuan.so_thiet_bi_hoat_dong}\\n`;\n  answer += `+ Số thiết bị chờ gỡ bỏ: ${tongQuan.so_thiet_bi_cho_go_bo}\\n`;\n  answer += `+ Số thiết bị đã gỡ bỏ: ${tongQuan.so_thiet_bi_da_go_bo}\\n\\n`;\n\n  answer += `Tổng số thiết bị của toàn đơn vị là: ${tongQuan.tong_thiet_bi}\\n\\n`;\n}\n\nanswer += `- **Dưới đây là 1 số loại thiết bị:**\\n\\n`;\n\nfor (const ten of loaiThietBi) {\n  answer += `+ ${ten}\\n`;\n\n  if (suggestions.length < 3) {\n    suggestions.push(`Xem danh sách thiết bị thuộc loại ${ten}`);\n  }\n}\n\nanswer += `\\n- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          512
        ],
        "id": "3bc3070a-1d38-4dfd-96a0-beeb068e298c",
        "name": "Code7",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  ORG_CODE AS ma_don_vi,\n  ORG_DESC AS ten_don_vi\nFROM R5ORGANIZATION\nWHERE \n  (\n    ORG_DESC LIKE N'%' + N'{{ $json.output.madonvi || \"*\" }}' + N'%'\n    OR ORG_CODE = N'{{ $json.output.madonvi || \"*\" }}'\n  )\n  OR N'{{ $json.output.madonvi || \"*\" }}' = N'*'\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          320,
          512
        ],
        "id": "d4826044-c016-468a-a712-e9805e9cd644",
        "name": "Microsoft SQL12",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.query }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Bạn là AI chuyên tách tên loại thiết bị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.output.ChatInput }}\n\nNhiệm vụ:\nXác định tên loại thiết bị được nhắc đến trong câu hỏi và trả về đúng phần tên loại để dùng cho truy vấn tìm kiếm.\n\nQuy tắc:\n- Nếu câu hỏi có cụm \"thuộc loại ...\" thì lấy phần nội dung đứng sau cụm đó\n- Nếu phần sau có bắt đầu bằng \"Thiết bị\" thì bỏ tiền tố \"Thiết bị\", chỉ giữ phần tên chính\n- So khớp không phân biệt hoa thường\n- Giữ nguyên nội dung tiếng Việt có dấu\n- Nếu không tìm thấy loại thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Xem danh sách thiết bị thuộc loại Thiết bị Acid\" -> \"Acid\"\n- \"Xem danh sách thiết bị thuộc loại Thiết bị cấp thoát nước\" -> \"cấp thoát nước\"\n- \"Xem thiết bị loại Thiết bị nhiệt\" -> \"nhiệt\"\n- \"Cho tôi danh sách thiết bị\" -> \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"maloaithietbi\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -992,
          992
        ],
        "id": "460fd581-48b4-4a4d-bfc8-f93618ac92cc",
        "name": "AI Agent13",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"maloaithietbi\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -832,
          1184
        ],
        "id": "da4b53b4-d0e1-45b4-b5f8-611aa02be31b",
        "name": "Structured Output Parser13"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DECLARE @OBJ_CLASS NVARCHAR(50) = '{{ $json.ma_loai_thiet_bi }}';\n\n-- Lấy Top 10 thiết bị theo loại\nSELECT TOP 5\n    o.OBJ_CODE AS ma_thiet_bi,\n    o.OBJ_DESC AS ten_thiet_bi,\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS ten_loai_thiet_bi,\n    m.mrc_desc as ten_bo_phan,\n    CASE o.OBJ_STATUS\n        WHEN 'P' THEN N'Chờ gỡ bỏ'\n        WHEN 'I' THEN N'Đang hoạt động'\n        WHEN 'D' THEN N'Đã gỡ bỏ'\n        ELSE N'Không xác định'\n    END AS ten_trang_thai\nFROM R5OBJECTS AS o\nINNER JOIN R5CLASSES AS c ON o.OBJ_CLASS = c.CLS_CODE\ninner join R5MRCS as m on m.MRC_CODE = o.OBJ_MRC\nWHERE o.OBJ_CLASS = @OBJ_CLASS\nORDER BY o.OBJ_CODE;\n\n-- Tổng số thiết bị của loại đó\nSELECT \n    COUNT(*) AS tong_so_thiet_bi,\n    @OBJ_CLASS AS ma_loai_thiet_bi\nFROM R5OBJECTS\nWHERE OBJ_CLASS = @OBJ_CLASS;\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          32,
          992
        ],
        "id": "e245f02e-be07-4008-8d7e-fe5867afb6c1",
        "name": "Microsoft SQL13",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tongSoThietBi = 0;\nlet tenLoaiThietBi = \"\";\nlet devices = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // record tổng số\n  if (d.tong_so_thiet_bi !== undefined) {\n    tongSoThietBi = d.tong_so_thiet_bi;\n  }\n\n  // record thiết bị\n  if (d.ma_thiet_bi) {\n    devices.push(d);\n    tenLoaiThietBi = d.ten_loai_thiet_bi;\n  }\n}\n\n// in danh sách thiết bị\nfor (const dev of devices) {\n  answer += `- **Tên thiết bị:** ${dev.ten_thiet_bi}\\n\\n`;\n  answer += `+ Mã thiết bị: ${dev.ma_thiet_bi}\\n`;\n  answer += `+ Bộ phận: ${dev.ten_bo_phan}\\n`;\n  answer += `+ Trạng thái: ${dev.ten_trang_thai}\\n\\n`;\n\n  // tạo suggestion từ mã thiết bị\n  if (suggestions.length < 4) {\n    suggestions.push(`Chi tiết thiết bị ${dev.ma_thiet_bi}`);\n    suggestions.push(`Lịch sử hoạt động của thiết bị ${dev.ma_thiet_bi}`);\n    suggestions.push(`Lịch sử sửa chữa của thiết bị ${dev.ma_thiet_bi}`);\n  }\n}\n\n// tổng số\nanswer += `- **Tổng số thiết bị thuộc loại ${tenLoaiThietBi}:** ${tongSoThietBi}.\\n\\n`;\n\nanswer += `- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions.slice(0,4)\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          992
        ],
        "id": "f4eaf0da-83ef-41f3-a027-af910d9729a1",
        "name": "Code8",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select top 1\nCLS_CODE as ma_loai_thiet_bi,\nCLS_DESC as ten_loai_thietBi\n\nfrom R5CLASSES\nWHERE \n  (\n    CLS_DESC LIKE N'%' + N'{{$json.output.maloaithietbi  || \"*\" }}' + N'%'\n    OR CLS_CODE = N'{{$json.output.maloaithietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.maloaithietbi  || \"*\" }}' = N'*'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          -496,
          992
        ],
        "id": "8d1f168a-d132-4432-b2fe-0cf31acf6e3e",
        "name": "Microsoft SQL14",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.query }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng.\n\nInput:\n{{ $json.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên nội dung thiết bị như trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -992,
          1376
        ],
        "id": "db6d7c5a-0a5c-4b84-85bd-2507fac4d5d0",
        "name": "AI Agent16"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -816,
          1584
        ],
        "id": "c271d28e-0a45-4f7f-aea6-b1984f838b6c",
        "name": "Structured Output Parser16"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT top 1\n    o.OBJ_CODE AS ma_thiet_bi,\n    o.OBJ_DESC AS ten_thiet_bi,\n    OBJ_MRC as phanxuong,\n    o.OBJ_CLASS AS ma_loai_thiet_bi,\n    c.CLS_DESC AS tenphanloai,\n    s.CLS_DESC AS bo_phan,\n    o.obj_org as donvi,\n    g.org_desc as tendonvi,\n    o.OBJ_CATEGORY as phannhom,\n    b.CAT_DESC as tenphannhom,\no.OBJ_MANUFACT as nhasanxuat,\no.OBJ_COMMISS as ngaylapdat,\no.obj_created as ngaytao,\no.OBJ_PERSON as canboquanly,\no.OBJ_UDFCHAR07 as phancap,\no.OBJ_PARENT as thietbicha,\n    CASE o.OBJ_STATUS\n        WHEN 'P' THEN N'Chờ gỡ bỏ'\n        WHEN 'I' THEN N'Đang hoạt động'\n        WHEN 'D' THEN N'Đã gỡ bỏ'\n        ELSE N'Không xác định'\n    END AS ten_trang_thai\nFROM R5OBJECTS AS o\nLEFT JOIN R5CLASSES AS c ON o.OBJ_CLASS = c.CLS_CODE\nleft join R5ORGANIZATION as g on o.obj_org = g.ORG_CODE\nLEFT join R5CATEGORIES as b on o.OBJ_CATEGORY = b.CAT_CODE\nLEFT join R5CLASSES as s on s.CLS_CODE = o.OBJ_MRC\nWHERE o.OBJ_CODE = '{{ $json.output.thietbi }}'\nOR o.OBJ_DESC LIKE N'%' + N'{{ $json.output.thietbi }}' + N'%'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          -544,
          1376
        ],
        "id": "7793e44a-d39a-4ce8-ad15-438e833db95b",
        "name": "Microsoft SQL15",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst d = items[0].json;\n\nlet answer = \"\";\n\nanswer += `- **Tên thiết bị:** ${d.ten_thiet_bi}\\n\\n`;\nanswer += `+ **Mã thiết bị:** ${d.ma_thiet_bi}\\n`;\nanswer += `+ **Phân xưởng:** ${d.phanxuong || \"Không có\"}\\n`;\nanswer += `+ **Phân loại:** ${d.tenphanloai || \"Không có\"}\\n`;\nanswer += `+ **Đơn vị:** ${d.tendonvi || \"Không có\"}\\n`;\nanswer += `+ **Phân cấp:** ${d.phancap || \"Không có\"}\\n`;\nanswer += `+ **Thiết bị cha:** ${d.thietbicha || \"Không có\"}\\n`;\nanswer += `+ **Trạng thái:** ${d.ten_trang_thai || \"Không có\"}\\n\\n`;\n\nanswer += `- **Xem chi tiết**: https://cmms.vimico.vn/asset`;\n\nconst suggestions = [\n  `Lịch sử hoạt động của thiết bị ${d.ten_thiet_bi}`,\n  `Lịch sử sửa chữa của thiết bị ${d.ten_thiet_bi}`\n];\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -224,
          1376
        ],
        "id": "f8e7bded-e5c4-4edb-85b2-f9a1558e61c5",
        "name": "Code9"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.query }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng để phục vụ truy vấn CSDL.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên đúng nội dung mã hoặc tên thiết bị xuất hiện trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -128,
          1696
        ],
        "id": "e4f96672-d1d7-4042-a4e4-fd6c94cc9472",
        "name": "AI Agent15"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          48,
          1904
        ],
        "id": "e4bf7034-c301-44cb-918f-db19be3bdec1",
        "name": "Structured Output Parser15"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select top 5\n'{{ $json.ma_thiet_bi }}' as MATHIETBI,\nN'{{ $json.ten_thiet_bi }}' as TENTHIETBI,\nOUD_UOM as DONVITINH,\nOUD_TOTALUSAGE as TONGSUDUNG,\nCONVERT(varchar, OUD_LASTREADDATE, 103) \n + ' ' + CONVERT(varchar, OUD_LASTREADDATE, 108) as NGAYKHAIBAOCUOI\nfrom R5OBJUSAGEDEFS\nwhere OUD_OBJECT = '{{ $json.ma_thiet_bi }}'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          544,
          1696
        ],
        "id": "86c03f33-fc9c-4f6a-95a0-051adbedee87",
        "name": "Microsoft SQL16",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet maThietBi = \"\";\nlet tenThietBi = \"\";\n\nfor (const item of items) {\n  const d = item.json;\n\n  maThietBi = d.MATHIETBI || maThietBi;\n  tenThietBi = d.TENTHIETBI || tenThietBi;\n\n  answer += `- **Tên thiết bị:** ${d.TENTHIETBI}\\n\\n`;\n  answer += `+ **Mã thiết bị:** ${d.MATHIETBI}\\n`;\n  answer += `+ **Đơn vị tính:** ${d.DONVITINH}\\n`;\n  answer += `+ **Tổng sử dụng:** ${d.TONGSUDUNG}\\n`;\n  answer += `+ **Ngày khai báo cuối:** ${d.NGAYKHAIBAOCUOI}\\n\\n`;\n}\n\nsuggestions.push(`Lịch sử sửa chữa của thiết bị ${tenThietBi}`);\nsuggestions.push(`Chi tiết thiết bị ${tenThietBi}`);\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1696
        ],
        "id": "beeb69c1-0f06-408a-a93c-82d6f7bc5460",
        "name": "Code10"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select top 1 \nobj_code as ma_thiet_bi,\nobj_desc as ten_thiet_bi\nFrom R5OBJECTS \nwhere  \n  (\n    obj_desc LIKE N'%' + N'{{$json.output.thietbi  || \"*\" }}' + N'%'\n    OR obj_code = N'{{$json.output.thietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.thietbi  || \"*\" }}' = N'*'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          224,
          1696
        ],
        "id": "3a13c7dd-b613-46b6-b749-bfc88ff32fd1",
        "name": "Microsoft SQL17",
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Bạn là AI phân loại câu hỏi của người dùng liên quan đến lịch sử thiết bị.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định câu hỏi thuộc loại nào:\n\n1 = Lịch sử hoạt động / vận hành thiết bị  \n2 = Lịch sử sửa chữa / bảo dưỡng thiết bị\n\nQuy tắc:\n\n- Nếu câu hỏi chứa các từ như:\n  \"lịch sử hoạt động\", \"hoạt động\", \"vận hành\", \"log run\", \"giờ chạy\", \"thời gian chạy\"\n  => case = 1\n\n- Nếu câu hỏi chứa các từ như:\n  \"lịch sử sửa chữa\", \"sửa chữa\", \"bảo dưỡng\", \"maintenance\", \"repair\", \"bảo trì\"\n  => case = 2\n\n- So khớp không phân biệt hoa thường\n\n- Nếu câu hỏi chứa cả hai loại từ khóa, ưu tiên:\n  sửa chữa / bảo dưỡng => case = 2\n\n- Nếu không rõ ràng thì mặc định:\n  case = 1\n\nChỉ trả về JSON hợp lệ, không giải thích, không markdown.\n\nOutput:\n{\n  \"query\":\"{{ $json.output.query }}\"\n  \"case\": \"1\"\n}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1008,
          2016
        ],
        "id": "20f162a1-b9f2-44ac-927d-eb759c09cd98",
        "name": "AI Agent18"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"query\":\"\",\n  \"case\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -832,
          2240
        ],
        "id": "c8e9c36f-1072-4980-ba3d-69fcf8479f56",
        "name": "Structured Output Parser18"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.query }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Bạn là AI chuyên tách mã thiết bị hoặc tên thiết bị từ câu hỏi của người dùng để phục vụ truy vấn CSDL.\n\nInput:\n{{ $json.output.query }}\n\nNhiệm vụ:\nXác định trong câu hỏi có nhắc đến mã thiết bị hoặc tên thiết bị nào và trả về đúng giá trị đó vào trường \"thietbi\".\n\nQuy tắc:\n- Nếu câu hỏi có mã thiết bị cụ thể thì ưu tiên trả về mã thiết bị\n- Nếu không có mã nhưng có tên thiết bị cụ thể thì trả về tên thiết bị\n- Giữ nguyên đúng nội dung mã hoặc tên thiết bị xuất hiện trong câu hỏi\n- So khớp không phân biệt hoa thường khi nhận diện\n- Không tự tạo mã hoặc tên mới\n- Nếu không tìm thấy thiết bị thì trả về chuỗi rỗng \"\"\n- Không giải thích\n- Không markdown\n- Không thêm chữ ngoài JSON\n\nVí dụ:\n- \"Chi tiết thiết bị 501-EA21-DC-003\" => \"501-EA21-DC-003\"\n- \"Lịch sử hoạt động của thiết bị Máy nghiền AN\" => \"Máy nghiền AN\"\n- \"Xem thông tin thiết bị T2.BBOT07\" => \"T2.BBOT07\"\n- \"Cho tôi xem thiết bị bơm nước số 1\" => \"bơm nước số 1\"\n- \"Tổng quan thiết bị của đơn vị MDV\" => \"\"\n\nChỉ trả về JSON đúng format:\n{\n  \"thietbi\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -48,
          2304
        ],
        "id": "7f85ea78-d582-4c87-9423-d1a070d73447",
        "name": "AI Agent19"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"mathietbi\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          128,
          2512
        ],
        "id": "b4983524-00a5-4ac3-b823-2bb12c773b71",
        "name": "Structured Output Parser19"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT TOP 10\n    e.EVT_CODE AS maphieu,\n    ustatus.UCO_DESC AS trang_thai,              -- 🔹 mô tả trạng thái (EVST)\n    e.EVT_OBJECT AS mathietbi,\n    s.OBJ_DESC AS ten_thiet_bi,\n    o.ORG_DESC AS ten_don_vi,\n    e.EVT_DESC AS mota,\n    ujob.UCO_DESC AS kieu_congviec,              -- 🔹 mô tả loại công việc (JBTP)\n    e.EVT_COMPLETED AS ngay_hoan_thanh,\n    e.EVT_TARGET AS ngay_bat_dau,\n    COUNT(*) OVER() AS tong_so_dong\nFROM R5EVENTS AS e\nLEFT JOIN R5UCODES AS ujob \n    ON e.EVT_JOBTYPE = ujob.UCO_CODE \n   AND ujob.UCO_RENTITY = 'JBTP'                -- 🔸 loại công việc\nLEFT JOIN R5UCODES AS ustatus \n    ON e.EVT_STATUS = ustatus.UCO_CODE \n   AND ustatus.UCO_RENTITY = 'EVST'             -- 🔸 trạng thái\nLEFT JOIN R5ORGANIZATION AS o \n    ON o.ORG_CODE = e.EVT_ORG\nLEFT JOIN R5OBJECTS AS s \n    ON s.OBJ_CODE = e.EVT_OBJECT \n   AND s.OBJ_ORG = e.EVT_ORG\nWHERE \n    e.EVT_OBJECT = '{{ $json.ma_thiet_bi }}'\n    AND e.EVT_STATUS IN ('R', 'C')  \n    AND e.EVT_TYPE = 'PPM'\nORDER BY e.EVT_COMPLETED DESC;\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          640,
          2304
        ],
        "id": "a2a43ff2-d822-4bf6-a37d-02bc28f7af95",
        "name": "Microsoft SQL18",
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nlet answer = \"\";\nlet suggestions = [];\n\nlet tenThietBi = \"\";\nlet maThietBi = \"\";\n\nfor (const item of items) {\n  const d = item.json;\n\n  tenThietBi = d.ten_thiet_bi || tenThietBi;\n  maThietBi = d.mathietbi || maThietBi;\n\n  const ngayBatDau = d.ngay_bat_dau\n    ? new Date(d.ngay_bat_dau).toLocaleString(\"vi-VN\")\n    : \"\";\n\n  const ngayHoanThanh = d.ngay_hoan_thanh\n    ? new Date(d.ngay_hoan_thanh).toLocaleString(\"vi-VN\")\n    : \"Chưa hoàn thành\";\n\n  answer += `- **Phiếu công việc:** ${d.maphieu}\\n`;\n  answer += `+ **Trạng thái:** ${d.trang_thai}\\n`;\n  answer += `+ **Thiết bị:** ${d.ten_thiet_bi}\\n`;\n  answer += `+ **Đơn vị:** ${d.ten_don_vi}\\n`;\n  answer += `+ **Mô tả:** ${d.mota}\\n`;\n  answer += `+ **Kiểu công việc:** ${d.kieu_congviec}\\n`;\n  answer += `+ **Ngày bắt đầu:** ${ngayBatDau}\\n`;\n  answer += `+ **Ngày hoàn thành:** ${ngayHoanThanh}\\n\\n`;\n}\n\nsuggestions = [\n  `Lịch sử hoạt động của thiết bị ${tenThietBi}`,\n  `Chi tiết thiết bị ${tenThietBi}`\n];\n\nreturn [\n  {\n    json: {\n      answer: answer.trim(),\n      suggestions: suggestions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          2304
        ],
        "id": "1f67dc75-8c0c-48da-9dde-5267429b2522",
        "name": "Code11"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select top 1 \nobj_code as ma_thiet_bi,\nobj_desc as ten_thiet_bi\nFrom R5OBJECTS \nwhere  \n  (\n    obj_desc LIKE N'%' + N'{{$json.output.thietbi  || \"*\" }}' + N'%'\n    OR obj_code = N'{{$json.output.thietbi  || \"*\" }}'\n  )\n  OR N'{{$json.output.thietbi  || \"*\" }}' = N'*'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          336,
          2304
        ],
        "id": "759791fd-159c-486a-a9ab-3f668f5fe7f8",
        "name": "Microsoft SQL19",
        "credentials": {
          "microsoftSql": {
            "id": "AT5U1bQMNp2mhBdY",
            "name": "Microsoft SQL account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a97e9664-1475-494b-a58f-a21fc4eec700"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Hoạt động"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "08b57f5b-fc13-4996-a7ed-fd91a3f3d4c4",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "sửa chữa"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -656,
          2016
        ],
        "id": "213a65c6-0165-4e8d-b098-19372f5069d1",
        "name": "Switch3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1040,
          496
        ],
        "id": "d1cc5cc3-b8b3-4591-a7cc-c8ef08e0c627",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -16,
          768
        ],
        "id": "bf51655f-d1b5-4a4a-87b2-34fc615aa2f1",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -992,
          1216
        ],
        "id": "8916f121-ddd1-48a3-bf74-ca215c1bea3f",
        "name": "OpenAI Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -2320,
          2080
        ],
        "id": "76d6e290-b9d8-498b-b7dd-63efdd3aa117",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -144,
          1936
        ],
        "id": "a3922a9f-1c83-4bf5-b116-9ec8f7daf273",
        "name": "OpenAI Chat Model4",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1056,
          1712
        ],
        "id": "14a10048-4bf8-4d7b-b704-84b1b4159da9",
        "name": "OpenAI Chat Model5",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1024,
          2272
        ],
        "id": "6a298060-f56f-4c3f-9424-2d465a2ed38a",
        "name": "OpenAI Chat Model6",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -64,
          2560
        ],
        "id": "157d934f-ac12-4ec6-9796-f9648a93fd2a",
        "name": "OpenAI Chat Model7",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "AI Agent12",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent13",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent16",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent18",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent12": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser12": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent12",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL10": {
        "main": [
          [
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Microsoft SQL10",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent14",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent14": {
        "main": [
          [
            {
              "node": "Microsoft SQL12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser14": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent14",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL11": {
        "main": [
          [
            {
              "node": "Code7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL12": {
        "main": [
          [
            {
              "node": "Microsoft SQL11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent13": {
        "main": [
          [
            {
              "node": "Microsoft SQL14",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser13": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent13",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL13": {
        "main": [
          [
            {
              "node": "Code8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL14": {
        "main": [
          [
            {
              "node": "Microsoft SQL13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent16": {
        "main": [
          [
            {
              "node": "Microsoft SQL15",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser16": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent16",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL15": {
        "main": [
          [
            {
              "node": "Code9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent15": {
        "main": [
          [
            {
              "node": "Microsoft SQL17",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser15": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent15",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL16": {
        "main": [
          [
            {
              "node": "Code10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL17": {
        "main": [
          [
            {
              "node": "Microsoft SQL16",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser18": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent18",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent19": {
        "main": [
          [
            {
              "node": "Microsoft SQL19",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser19": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent19",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL18": {
        "main": [
          [
            {
              "node": "Code11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL19": {
        "main": [
          [
            {
              "node": "Microsoft SQL18",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent18": {
        "main": [
          [
            {
              "node": "Switch3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch3": {
        "main": [
          [
            {
              "node": "AI Agent15",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent19",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent12",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent14",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent13",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent15",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent16",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent18",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model7": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent19",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "V Cat",
    "name": "Version 1a95ec9b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}