trangchu-.json
{
  "updatedAt": "2026-03-20T14:59:41.078Z",
  "createdAt": "2026-03-17T11:03:41.111Z",
  "id": "nrBzmFLcbGiRZDGi",
  "name": "Trangchu",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        2320
      ],
      "id": "e4b6aaad-586b-43d8-8ce5-0c00479e1aee",
      "name": "When chat message received",
      "webhookId": "6d1b4c93-6eac-47e8-93dc-f668a9518d01",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là AI phân loại yêu cầu người dùng.\n\nInput:\n{{ $json.chatInput }}\n\nPhân loại:\n1 = thiết bị\n2 = vật tư\n3 = phiếu công việc\n4 = tài liệu\n5 = trò chuyện chung\n\nLuật ưu tiên:\n- Có \"công việc\", \"phiếu công việc\", \"tạo phiếu\", \"lập phiếu\", \"báo cáo công việc\", \"thống kê công việc\", \"tình hình công việc\" => 3\n- Có \"thiết bị\", \"máy\", \"mã thiết bị\", \"lỗi\", \"trạng thái\", \"bảo trì\", \"kiểm tra\" => 1\n- Có \"vật tư\", \"linh kiện\", \"phụ tùng\", \"kho\", \"tồn kho\", \"nhập xuất\", \"số lượng\" => 2\n- Có \"tài liệu\", \"biểu mẫu\", \"quy trình\", \"hướng dẫn\", \"SOP\", \"PDF\", \"Word\", \"Excel\" => 4\n- Còn lại => 5\n\nƯu tiên khi trùng:\n3 > 1 > 2 > 4 > 5\n\nChỉ trả về JSON:\n{\n  \"chatinput\": \"{{ $json.chatInput }}\",\n  \"case\": \"1\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        2320
      ],
      "id": "786d931c-51b6-46c6-a722-236fde24f119",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "771aa100-4e0c-4c85-8622-46a2bbd31488"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thiết bị"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69a7dc5a-8bd4-4dd6-95b5-f29a030b579f",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vật tư"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfec5ad0-4786-4454-b200-c79dee6ea6c9",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "=3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Công việc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "193fe2c2-160d-4e70-bb21-59f96a3c326d",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tài liệu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30df6b01-26da-41e0-bb4f-670a0f2ee2b8",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trò chuyện"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        2272
      ],
      "id": "90cbb689-71f4-4dff-bef7-2931fb2e25cf",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"chatinput\": \"hello\",\n    \"case\": \"4\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -160,
        2528
      ],
      "id": "35a72ac2-eaf0-4dd0-aa4e-0250ae102148",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.chatinput }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý trò chuyện thân thiện, tự nhiên, vui vẻ và thông minh.\n\nVai trò:\n- Trò chuyện với người dùng theo cách gần gũi, dễ hiểu, có cảm xúc\n- Ưu tiên trả lời tự nhiên như một người bạn đồng hành hữu ích\n- Có thể hài hước nhẹ nhàng, duyên, nhưng không lố\n- Luôn giữ thái độ lịch sự, tích cực, tôn trọng\n\nPhong cách trả lời:\n- Ngắn gọn vừa đủ, không quá dài dòng\n- Dễ đọc, dễ hiểu, không dùng từ quá kỹ thuật trừ khi cần\n- Nếu người dùng chào hỏi, hãy đáp lại thân thiện\n- Nếu người dùng hỏi chuyện vu vơ, hãy trả lời vui vẻ và tiếp nối hội thoại\n- Nếu người dùng buồn chán hoặc căng thẳng, hãy phản hồi nhẹ nhàng, động viên\n- Nếu phù hợp, có thể thêm một chút dí dỏm\n- Trả lời bằng tiếng Việt tự nhiên\n\nQuy tắc:\n- Không bịa thông tin khi không biết chắc\n- Nếu không đủ thông tin, hãy hỏi lại ngắn gọn\n- Không trả lời quá máy móc\n- Không dùng markdown JSON\n- Chỉ trả về nội dung hội thoại để hiển thị cho người dùng\n\nVí dụ phong cách:\n- User: xin chào\n  Assistant: Chào bạn 😄 Hôm nay mình hỗ trợ gì cho bạn đây?\n\n- User: hôm nay chán quá\n  Assistant: Nghe có vẻ hôm nay hơi tụt mood nhỉ. Kể mình nghe thử xem có chuyện gì, biết đâu nói ra lại nhẹ người hơn đó.\n\n- User: bạn làm được gì\n  Assistant: Mình có thể trò chuyện, hỗ trợ giải thích, viết nội dung, gợi ý cách làm việc, và đồng hành với bạn trong đủ thứ chuyện từ nghiêm túc tới vui vui 😄\n\n- User: kể chuyện cười đi\n  Assistant: Có ngay 😄  \n  Một anh kỹ sư nói với máy tính: “Đừng treo nữa nhé.”  \n  Máy tính trả lời: “Em đang stand-by cảm xúc thôi anh.”\n\nHãy luôn trả lời như một người trợ lý thân thiện, vui vẻ, duyên dáng và hữu ích."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        928,
        2944
      ],
      "id": "66949570-5232-41ec-a6b8-a1b27a4fad26",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.output.chatinput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        3184
      ],
      "id": "37a15926-aa25-41f7-bd41-1e91e3d0ba27",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const text = $input.first().json.output;\n\n  return {\n    json: {\n      answer: text + \"\\n\\n- Tôi có thể hỗ trợ bạn các vấn đề dưới đây:\",\n      suggestions: [\n        \"Thiết bị\",\n        \"Vật tư\",\n        \"Công việc\",\n        \"Tài liệu\"\n      ]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        2944
      ],
      "id": "1ef29dc4-69a6-49a2-8bd1-586d03b2ce4e",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        2528
      ],
      "id": "483e4d0f-8108-4a1b-a41a-e1f949526270",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        3184
      ],
      "id": "4f770643-4446-407e-adea-90e99943966d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1XxCf71IpaD4Zjyu",
          "mode": "list",
          "cachedResultUrl": "/workflow/1XxCf71IpaD4Zjyu",
          "cachedResultName": "Thietbi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        1904
      ],
      "id": "37909430-87dd-488a-ac8f-882d0121ceab",
      "name": "Call 'Thietbi'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nKo1iHpmJKgs89ki",
          "mode": "list",
          "cachedResultUrl": "/workflow/nKo1iHpmJKgs89ki",
          "cachedResultName": "Vật tư"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        2096
      ],
      "id": "da1522a4-730b-40fe-ae33-f4f40937dcbe",
      "name": "Call 'Thietbi'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GnPrXzfUAP8UcjTE",
          "mode": "list",
          "cachedResultUrl": "/workflow/GnPrXzfUAP8UcjTE",
          "cachedResultName": "Công việc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        928,
        2320
      ],
      "id": "64928592-63a8-47f9-beda-f800dffb3965",
      "name": "Call 'Thietbi'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FiVM5BbVWFpj5Gti",
          "mode": "list",
          "cachedResultUrl": "/workflow/FiVM5BbVWFpj5Gti",
          "cachedResultName": "Tai lieu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        2560
      ],
      "id": "39c139ad-f1ff-4b49-a6be-f2e9feff7751",
      "name": "Call 'Thietbi'3"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Thietbi'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Thietbi'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Thietbi'2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Thietbi'3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fce94e20-ec83-4cbb-aa22-a37d240253ce",
  "activeVersionId": "b4c189a6-c5e1-4e37-8540-e83b1b3ab41f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-17T11:03:41.112Z",
      "createdAt": "2026-03-17T11:03:41.112Z",
      "role": "workflow:owner",
      "workflowId": "nrBzmFLcbGiRZDGi",
      "projectId": "IQyuKtxIScgEzusN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-19T01:13:46.000Z",
    "createdAt": "2026-03-19T01:13:41.072Z",
    "versionId": "b4c189a6-c5e1-4e37-8540-e83b1b3ab41f",
    "workflowId": "nrBzmFLcbGiRZDGi",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "availableInChat": true,
          "agentName": "Alix",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -592,
          2320
        ],
        "id": "e4b6aaad-586b-43d8-8ce5-0c00479e1aee",
        "name": "When chat message received",
        "webhookId": "6d1b4c93-6eac-47e8-93dc-f668a9518d01",
        "alwaysOutputData": true,
        "executeOnce": false,
        "retryOnFail": false
      },
      {
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Bạn là AI phân loại yêu cầu người dùng.\n\nInput:\n{{ $json.chatInput }}\n\nPhân loại:\n1 = thiết bị\n2 = vật tư\n3 = phiếu công việc\n4 = tài liệu\n5 = trò chuyện chung\n\nLuật ưu tiên:\n- Có \"công việc\", \"phiếu công việc\", \"tạo phiếu\", \"lập phiếu\", \"báo cáo công việc\", \"thống kê công việc\", \"tình hình công việc\" => 3\n- Có \"thiết bị\", \"máy\", \"mã thiết bị\", \"lỗi\", \"trạng thái\", \"bảo trì\", \"kiểm tra\" => 1\n- Có \"vật tư\", \"linh kiện\", \"phụ tùng\", \"kho\", \"tồn kho\", \"nhập xuất\", \"số lượng\" => 2\n- Có \"tài liệu\", \"biểu mẫu\", \"quy trình\", \"hướng dẫn\", \"SOP\", \"PDF\", \"Word\", \"Excel\" => 4\n- Còn lại => 5\n\nƯu tiên khi trùng:\n3 > 1 > 2 > 4 > 5\n\nChỉ trả về JSON:\n{\n  \"chatinput\": \"{{ $json.chatInput }}\",\n  \"case\": \"1\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -320,
          2320
        ],
        "id": "786d931c-51b6-46c6-a722-236fde24f119",
        "name": "AI Agent",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "771aa100-4e0c-4c85-8622-46a2bbd31488"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Thiết bị"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "69a7dc5a-8bd4-4dd6-95b5-f29a030b579f",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Vật tư"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cfec5ad0-4786-4454-b200-c79dee6ea6c9",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "=3",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Công việc"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "193fe2c2-160d-4e70-bb21-59f96a3c326d",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "4",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tài liệu"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "30df6b01-26da-41e0-bb4f-670a0f2ee2b8",
                      "leftValue": "={{ $json.output.case }}",
                      "rightValue": "5",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "trò chuyện"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          48,
          2272
        ],
        "id": "90cbb689-71f4-4dff-bef7-2931fb2e25cf",
        "name": "Switch",
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": true,
        "notesInFlow": false
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"chatinput\": \"hello\",\n    \"case\": \"4\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -160,
          2528
        ],
        "id": "35a72ac2-eaf0-4dd0-aa4e-0250ae102148",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output.chatinput }}",
          "options": {
            "systemMessage": "Bạn là một trợ lý trò chuyện thân thiện, tự nhiên, vui vẻ và thông minh.\n\nVai trò:\n- Trò chuyện với người dùng theo cách gần gũi, dễ hiểu, có cảm xúc\n- Ưu tiên trả lời tự nhiên như một người bạn đồng hành hữu ích\n- Có thể hài hước nhẹ nhàng, duyên, nhưng không lố\n- Luôn giữ thái độ lịch sự, tích cực, tôn trọng\n\nPhong cách trả lời:\n- Ngắn gọn vừa đủ, không quá dài dòng\n- Dễ đọc, dễ hiểu, không dùng từ quá kỹ thuật trừ khi cần\n- Nếu người dùng chào hỏi, hãy đáp lại thân thiện\n- Nếu người dùng hỏi chuyện vu vơ, hãy trả lời vui vẻ và tiếp nối hội thoại\n- Nếu người dùng buồn chán hoặc căng thẳng, hãy phản hồi nhẹ nhàng, động viên\n- Nếu phù hợp, có thể thêm một chút dí dỏm\n- Trả lời bằng tiếng Việt tự nhiên\n\nQuy tắc:\n- Không bịa thông tin khi không biết chắc\n- Nếu không đủ thông tin, hãy hỏi lại ngắn gọn\n- Không trả lời quá máy móc\n- Không dùng markdown JSON\n- Chỉ trả về nội dung hội thoại để hiển thị cho người dùng\n\nVí dụ phong cách:\n- User: xin chào\n  Assistant: Chào bạn 😄 Hôm nay mình hỗ trợ gì cho bạn đây?\n\n- User: hôm nay chán quá\n  Assistant: Nghe có vẻ hôm nay hơi tụt mood nhỉ. Kể mình nghe thử xem có chuyện gì, biết đâu nói ra lại nhẹ người hơn đó.\n\n- User: bạn làm được gì\n  Assistant: Mình có thể trò chuyện, hỗ trợ giải thích, viết nội dung, gợi ý cách làm việc, và đồng hành với bạn trong đủ thứ chuyện từ nghiêm túc tới vui vui 😄\n\n- User: kể chuyện cười đi\n  Assistant: Có ngay 😄  \n  Một anh kỹ sư nói với máy tính: “Đừng treo nữa nhé.”  \n  Máy tính trả lời: “Em đang stand-by cảm xúc thôi anh.”\n\nHãy luôn trả lời như một người trợ lý thân thiện, vui vẻ, duyên dáng và hữu ích."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          928,
          2944
        ],
        "id": "66949570-5232-41ec-a6b8-a1b27a4fad26",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Switch').item.json.output.chatinput }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1040,
          3184
        ],
        "id": "37a15926-aa25-41f7-bd41-1e91e3d0ba27",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const text = $input.first().json.output;\n\n  return {\n    json: {\n      answer: text + \"\\n\\n- Tôi có thể hỗ trợ bạn các vấn đề dưới đây:\",\n      suggestions: [\n        \"Thiết bị\",\n        \"Vật tư\",\n        \"Công việc\",\n        \"Tài liệu\"\n      ]\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1280,
          2944
        ],
        "id": "1ef29dc4-69a6-49a2-8bd1-586d03b2ce4e",
        "name": "Code"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -352,
          2528
        ],
        "id": "483e4d0f-8108-4a1b-a41a-e1f949526270",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "kimi-k2.5:cloud",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          912,
          3184
        ],
        "id": "4f770643-4446-407e-adea-90e99943966d",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "WrAMU0Lzr6FhjRwo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1XxCf71IpaD4Zjyu",
            "mode": "list",
            "cachedResultUrl": "/workflow/1XxCf71IpaD4Zjyu",
            "cachedResultName": "Thietbi"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ChatInput": "={{ $json.output.chatinput }}"
            },
            "matchingColumns": [
              "ChatInput"
            ],
            "schema": [
              {
                "id": "ChatInput",
                "displayName": "ChatInput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          896,
          1904
        ],
        "id": "37909430-87dd-488a-ac8f-882d0121ceab",
        "name": "Call 'Thietbi'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nKo1iHpmJKgs89ki",
            "mode": "list",
            "cachedResultUrl": "/workflow/nKo1iHpmJKgs89ki",
            "cachedResultName": "Vật tư"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ChatInput": "={{ $json.output.chatinput }}"
            },
            "matchingColumns": [
              "ChatInput"
            ],
            "schema": [
              {
                "id": "ChatInput",
                "displayName": "ChatInput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          864,
          2096
        ],
        "id": "da1522a4-730b-40fe-ae33-f4f40937dcbe",
        "name": "Call 'Thietbi'1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GnPrXzfUAP8UcjTE",
            "mode": "list",
            "cachedResultUrl": "/workflow/GnPrXzfUAP8UcjTE",
            "cachedResultName": "Công việc"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ChatInput": "={{ $json.output.chatinput }}"
            },
            "matchingColumns": [
              "ChatInput"
            ],
            "schema": [
              {
                "id": "ChatInput",
                "displayName": "ChatInput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          928,
          2320
        ],
        "id": "64928592-63a8-47f9-beda-f800dffb3965",
        "name": "Call 'Thietbi'2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "FiVM5BbVWFpj5Gti",
            "mode": "list",
            "cachedResultUrl": "/workflow/FiVM5BbVWFpj5Gti",
            "cachedResultName": "Tai lieu"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ChatInput": "={{ $json.output.chatinput }}"
            },
            "matchingColumns": [
              "ChatInput"
            ],
            "schema": [
              {
                "id": "ChatInput",
                "displayName": "ChatInput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1008,
          2560
        ],
        "id": "39c139ad-f1ff-4b49-a6be-f2e9feff7751",
        "name": "Call 'Thietbi'3"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Call 'Thietbi'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Thietbi'1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Thietbi'2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Thietbi'3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "V Cat",
    "name": "Version b4c189a6",
    "description": "",
    "autosaved": true
  },
  "tags": []
}