trangchu-.json
{
  "updatedAt": "2026-03-17T14:40:56.987Z",
  "createdAt": "2026-03-17T11:03:41.111Z",
  "id": "nrBzmFLcbGiRZDGi",
  "name": "Trangchu",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1312,
        624
      ],
      "id": "cbc8b4a5-2499-4ff9-9710-77d2a4bc86ab",
      "name": "When chat message received",
      "webhookId": "6d1b4c93-6eac-47e8-93dc-f668a9518d01",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là AI phân loại yêu cầu người dùng.\n\nInput:\n{{ $json.chatInput }}\n\nPhân loại:\n1 = thiết bị\n2 = vật tư\n3 = phiếu công việc\n4 = tài liệu\n5 = trò chuyện chung\n\nLuật ưu tiên:\n- Có \"công việc\", \"phiếu công việc\", \"tạo phiếu\", \"lập phiếu\", \"báo cáo công việc\", \"thống kê công việc\", \"tình hình công việc\" => 3\n- Có \"thiết bị\", \"máy\", \"mã thiết bị\", \"lỗi\", \"trạng thái\", \"bảo trì\", \"kiểm tra\" => 1\n- Có \"vật tư\", \"linh kiện\", \"phụ tùng\", \"kho\", \"tồn kho\", \"nhập xuất\", \"số lượng\" => 2\n- Có \"tài liệu\", \"biểu mẫu\", \"quy trình\", \"hướng dẫn\", \"SOP\", \"PDF\", \"Word\", \"Excel\" => 4\n- Còn lại => 5\n\nƯu tiên khi trùng:\n3 > 1 > 2 > 4 > 5\n\nChỉ trả về JSON:\n{\n  \"chatinput\": \"{{ $json.chatInput }}\",\n  \"case\": \"1\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1040,
        624
      ],
      "id": "0531901d-a1c7-43ff-855f-a8464fef21fb",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "771aa100-4e0c-4c85-8622-46a2bbd31488"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thiết bị"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69a7dc5a-8bd4-4dd6-95b5-f29a030b579f",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vật tư"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfec5ad0-4786-4454-b200-c79dee6ea6c9",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "=3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Công việc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "193fe2c2-160d-4e70-bb21-59f96a3c326d",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tài liệu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30df6b01-26da-41e0-bb4f-670a0f2ee2b8",
                    "leftValue": "={{ $json.output.case }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trò chuyện"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        576
      ],
      "id": "126b2d58-6773-42eb-8972-a60f20352718",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pSjXPw7hjOIecpNA",
          "mode": "list",
          "cachedResultName": "Công việc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        624
      ],
      "id": "04083561-ad78-4b07-974d-770f4e15b870",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"chatinput\": \"hello\",\n    \"case\": \"4\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -880,
        832
      ],
      "id": "b4fda9a2-2ecb-49fd-8f13-e2825c3d3679",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.chatinput }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý trò chuyện thân thiện, tự nhiên, vui vẻ và thông minh.\n\nVai trò:\n- Trò chuyện với người dùng theo cách gần gũi, dễ hiểu, có cảm xúc\n- Ưu tiên trả lời tự nhiên như một người bạn đồng hành hữu ích\n- Có thể hài hước nhẹ nhàng, duyên, nhưng không lố\n- Luôn giữ thái độ lịch sự, tích cực, tôn trọng\n\nPhong cách trả lời:\n- Ngắn gọn vừa đủ, không quá dài dòng\n- Dễ đọc, dễ hiểu, không dùng từ quá kỹ thuật trừ khi cần\n- Nếu người dùng chào hỏi, hãy đáp lại thân thiện\n- Nếu người dùng hỏi chuyện vu vơ, hãy trả lời vui vẻ và tiếp nối hội thoại\n- Nếu người dùng buồn chán hoặc căng thẳng, hãy phản hồi nhẹ nhàng, động viên\n- Nếu phù hợp, có thể thêm một chút dí dỏm\n- Trả lời bằng tiếng Việt tự nhiên\n\nQuy tắc:\n- Không bịa thông tin khi không biết chắc\n- Nếu không đủ thông tin, hãy hỏi lại ngắn gọn\n- Không trả lời quá máy móc\n- Không dùng markdown JSON\n- Chỉ trả về nội dung hội thoại để hiển thị cho người dùng\n\nVí dụ phong cách:\n- User: xin chào\n  Assistant: Chào bạn 😄 Hôm nay mình hỗ trợ gì cho bạn đây?\n\n- User: hôm nay chán quá\n  Assistant: Nghe có vẻ hôm nay hơi tụt mood nhỉ. Kể mình nghe thử xem có chuyện gì, biết đâu nói ra lại nhẹ người hơn đó.\n\n- User: bạn làm được gì\n  Assistant: Mình có thể trò chuyện, hỗ trợ giải thích, viết nội dung, gợi ý cách làm việc, và đồng hành với bạn trong đủ thứ chuyện từ nghiêm túc tới vui vui 😄\n\n- User: kể chuyện cười đi\n  Assistant: Có ngay 😄  \n  Một anh kỹ sư nói với máy tính: “Đừng treo nữa nhé.”  \n  Máy tính trả lời: “Em đang stand-by cảm xúc thôi anh.”\n\nHãy luôn trả lời như một người trợ lý thân thiện, vui vẻ, duyên dáng và hữu ích."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        1248
      ],
      "id": "2de17143-6025-4c5c-886f-8818ae5365ac",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.output.chatinput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        1504
      ],
      "id": "7f52e00c-b13f-4dcc-8a77-c1ad798090a3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const text = $input.first().json.output;\n\n  return {\n    json: {\n      answer: text + \"\\n\\n- Tôi có thể hỗ trợ bạn các vấn đề dưới đây:\",\n      suggestions: [\n        \"Thiết bị\",\n        \"Vật tư\",\n        \"Công việc\",\n        \"Tài liệu\"\n      ]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1248
      ],
      "id": "54777fc8-cbb1-401b-b69a-26bc9ec09859",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2xpiTMQGkzLHxLYK",
          "mode": "list",
          "cachedResultName": "Thietbi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        16
      ],
      "id": "1df7f449-13a6-4787-bbba-fcb122c413df",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "80I2OCPPuQiAQLqy",
          "mode": "list",
          "cachedResultName": "Tai lieu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        880
      ],
      "id": "5282b512-827d-4386-a7e8-09141dc7b445",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wlYKfRcE5iKvw6T2",
          "mode": "list",
          "cachedResultName": "Vật tư"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatInput": "={{ $json.output.chatinput }}"
          },
          "matchingColumns": [
            "ChatInput"
          ],
          "schema": [
            {
              "id": "ChatInput",
              "displayName": "ChatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        448
      ],
      "id": "3b5df592-8e47-41bb-9413-e7fbc3d51395",
      "name": "Execute Workflow3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        832
      ],
      "id": "ed695839-df5e-49f6-b133-5521f07d487b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "kimi-k2.5:cloud",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        1488
      ],
      "id": "8b2a4987-6c44-45a1-ba37-32dbeed621c6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WrAMU0Lzr6FhjRwo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fa83868d-7aca-4ce8-a5ff-ca9727741bcd",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-17T11:03:41.112Z",
      "createdAt": "2026-03-17T11:03:41.112Z",
      "role": "workflow:owner",
      "workflowId": "nrBzmFLcbGiRZDGi",
      "projectId": "IQyuKtxIScgEzusN"
    }
  ],
  "activeVersion": null,
  "tags": []
}